#no-result {
  display: none;
}
.searchbox {
  width: 50%;
}
.details-info {
  width: 50%;
}

/* Mobile responsive */

@media only screen and (max-width: 600px) {
  .searchbox {
    background-color: lightblue;
    width: 100%;
  }
  .details-info {
    width: 100%;
  }
}
